.home {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: start;
    transition: background-color 0.3s, color 0.3s;
    font-size: 23px;
    padding-left: 30px;
   
  }

  .home.light {
    background-color: #aeccd5;
    color: #333;
  }
  
  .home.dark {
    background-color: #20232a;
    color: rgb(184, 156, 156);
  }
  
  .cta-button {
    background-color: #282c34;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 14px;
    margin-right: 15px;
    height: 35px;
    width: 120px;
  }
  a{
    text-decoration: none;
    color: white;
  }
  
  .cta-button:hover {
    background-color: rgb(3, 98, 122);
    font-weight: bold;
    color: rgb(217, 247, 247);
  }
  .name_style{
    color: rgb(27, 27, 172);
    font-size: 44px;
    font-weight: 600;
    font-family: "Roboto";
  }
.discription-role{
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
}


@media screen and (max-width:767px) {
  .name_style{
    font-size: 30px;

  }
  .discription-role{
    font-size: 18px;
  }
  .cta-button {
    font-size: 12px;

  }
  .home {
    height: 80vh;
  }
}