.App {
  text-align: center;
  font-family: Arial, sans-serif;
  min-height: 100vh;
  transition: background-color 0.3s, color 0.3s;
}

.App.light {
  background-color: #f4f4f4;
  color: #333;
}

.App.dark {
  background-color: #282c34;
  color: white;
}